.group-child35,
.group-child36 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1366px;
  height: 180px;
}
.group-child36 {
  background-color: var(--color-darkslateblue-100);
  height: 128px;
}
.ita15 {
  color: var(--color-black);
}
.klinikita15 {
  text-decoration: none;
  position: absolute;
  top: 39px;
  left: 34px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-paytone-one);
  display: inline-block;
  width: 278px;
  height: 65px;
  color: inherit;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 205px;
  height: 79px;
}
.daftar7 {
  position: absolute;
  top: 20px;
  left: 12px;
  display: inline-block;
  width: 182px;
  height: 33px;
}
.beranda13,
.pelayanan14,
.rectangle-parent23 {
  text-decoration: none;
  position: absolute;
  color: inherit;
}
.rectangle-parent23 {
  top: 25px;
  left: 1137px;
  width: 205px;
  height: 79px;
  text-align: center;
}
.beranda13,
.pelayanan14 {
  top: 0;
  left: 0;
}
.pelayanan14 {
  left: 138px;
}
.kontak13,
.tentang-kami13 {
  position: absolute;
  top: 0;
  left: 305px;
}
.kontak13 {
  text-decoration: none;
  left: 510px;
  color: inherit;
}
.material-symbolssearch7 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 621px;
  width: 29px;
  height: 30px;
  overflow: hidden;
}
.beranda-parent11,
.masuk13 {
  position: absolute;
  top: 132px;
  left: 681px;
  width: 650px;
  height: 36px;
}
.masuk13 {
  text-decoration: none;
  top: 42px;
  left: 964px;
  color: inherit;
  text-align: center;
  display: inline-block;
  width: 140px;
  height: 44px;
}
.adv-1-icon5,
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 180px;
}
.adv-1-icon5 {
  top: 230px;
  left: 83px;
  width: 1200px;
  height: 674px;
  object-fit: cover;
}
.mengoptimalkan-kesehatan-anda {
  position: absolute;
  top: 954px;
  left: 252px;
  font-size: var(--font-size-29xl);
  font-weight: 800;
  color: var(--color-steelblue-200);
  text-align: center;
  display: inline-block;
  width: 861px;
  height: 224px;
}
.kesehatan-adalah-salah {
  margin: 0;
}
.kesehatan-adalah-salah-container {
  position: absolute;
  top: 1237px;
  left: 63px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  display: inline-block;
  width: 1254px;
  height: 3735px;
}
.group-child38,
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1366px;
  height: 405px;
}
.group-child39 {
  top: 305px;
  background-color: var(--color-darkslateblue-200);
  height: 100px;
}
.klinikita16 {
  position: absolute;
  top: 150px;
  left: 41px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-paytone-one);
  display: inline-block;
  width: 278px;
  height: 65px;
}
.beranda14 {
  position: absolute;
  top: 0;
  left: 0;
}
.kontak14,
.masuk14,
.pelayanan15 {
  position: absolute;
  top: 0;
  left: 138px;
}
.kontak14,
.masuk14 {
  left: 510px;
}
.masuk14 {
  left: 628px;
}
.beranda-parent12 {
  position: absolute;
  top: 167px;
  left: 627px;
  width: 706px;
  height: 36px;
}
.follow-kami-di7,
.klinikita-2023-all7 {
  position: absolute;
  top: 336px;
  left: 41px;
  font-weight: 600;
  display: inline-block;
  width: 505px;
  height: 38px;
}
.follow-kami-di7 {
  top: 0;
  left: 0;
  width: 242px;
  height: 31px;
}
.mdiinstagram-icon7,
.rifacebook-fill-icon7,
.tablerbrand-x-icon7 {
  position: absolute;
  top: 0;
  left: 196px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.mdiinstagram-icon7,
.rifacebook-fill-icon7 {
  left: 233px;
}
.mdiinstagram-icon7 {
  left: 270px;
}
.follow-kami-di-parent5 {
  position: absolute;
  top: 339px;
  left: 1032px;
  width: 301px;
  height: 31px;
}
.rectangle-parent24 {
  position: absolute;
  top: 5101px;
  left: 0;
  width: 1366px;
  height: 405px;
}
.artikel-1 {
  position: relative;
  background-color: var(--color-lightblue-100);
  width: 100%;
  height: 5506px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
