.klinikita21 {
  text-decoration: none;
  position: absolute;
  top: 75px;
  left: 618px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-paytone-one);
  display: inline-block;
  width: 223px;
  height: 53px;
  color: var(--color-steelblue-200);
}
.halaman-masuk-child {
  position: absolute;
  top: 163px;
  left: 430px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 10px 10px 2px 4px rgba(0, 0, 0, 0.5);
  width: 595px;
  height: 843px;
}
.ayo-bergabung-dengan,
.daftar-atau-masuk {
  position: absolute;
  left: 488px;
  text-align: center;
  display: inline-block;
  width: 461px;
}
.ayo-bergabung-dengan {
  top: 208px;
  font-size: var(--font-size-13xl);
  height: 50px;
}
.daftar-atau-masuk {
  top: 267px;
  height: 75px;
}
.group-child72 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 461px;
  height: 82px;
}
.google {
  position: absolute;
  top: 21px;
  left: 119px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 243px;
  height: 34px;
}
.google-icon {
  position: absolute;
  top: 15px;
  left: 126px;
  border-radius: var(--br-381xl);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.rectangle-parent47 {
  text-decoration: none;
  position: absolute;
  top: 476px;
  left: 488px;
  width: 461px;
  height: 82px;
  text-align: center;
  color: inherit;
}
.facebook-icon {
  position: absolute;
  top: 21px;
  left: 126px;
  border-radius: var(--br-381xl);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.facebook {
  position: absolute;
  top: 29px;
  left: 119px;
  display: inline-block;
  width: 243px;
  height: 32px;
}
.atau-gunakan,
.rectangle-parent48 {
  position: absolute;
  text-align: center;
}
.rectangle-parent48 {
  text-decoration: none;
  top: 368px;
  left: 488px;
  width: 461px;
  height: 82px;
  color: inherit;
}
.atau-gunakan {
  top: 599px;
  left: 606px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 244px;
  height: 33px;
}
.halaman-masuk-item {
  border: 0;
  font-family: var(--font-droid-sans);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 673px;
  left: 488px;
  width: 461px;
  height: 82px;
}
.kebijakan-privasi {
  color: var(--color-royalblue);
}
.dan {
  color: var(--color-black);
}
.dengan-mendaftar-saya-memasti {
  margin: 0;
}
.dengan-mendaftar-saya-container {
  top: 783px;
  left: 476px;
  width: 473px;
  height: 79px;
}
.dengan-mendaftar-saya-container,
.div5,
.show-more {
  position: absolute;
  font-size: var(--font-size-mini);
  display: inline-block;
}
.show-more {
  top: 862px;
  left: 476px;
  color: var(--color-royalblue);
  width: 82px;
  height: 26px;
}
.div5 {
  top: 869.08px;
  left: 572.42px;
  color: #0e56b2;
  width: 11px;
  height: 14.36px;
  transform: rotate(90.3deg);
  transform-origin: 0 0;
}
.group-child74 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 461px;
  height: 82px;
}
.masuk19 {
  position: absolute;
  top: 6px;
  left: 195px;
  display: flex;
  align-items: flex-end;
  width: 91px;
  height: 53px;
}
.rectangle-parent49 {
  text-decoration: none;
  position: absolute;
  top: 897px;
  left: 488px;
  width: 461px;
  height: 82px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.pharmacy-1-icon,
.pose-1-icon,
.pose-8-icon {
  position: absolute;
  top: 719px;
  left: 17px;
  width: 383px;
  height: 292px;
  object-fit: cover;
}
.pharmacy-1-icon,
.pose-8-icon {
  top: 734px;
  left: 1055px;
  width: 279px;
  height: 279px;
}
.pharmacy-1-icon {
  top: 652px;
  left: 1198px;
  width: 132.19px;
  height: 138.19px;
  opacity: 0.75;
}
.dot-6-icon,
.dot-7-icon {
  position: absolute;
  top: 6px;
  left: 683px;
  width: 683px;
  height: 384px;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.dot-7-icon {
  top: 0;
  left: 0;
}
.halaman-masuk {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 1050px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-droid-sans);
}
