.group-child60,
.group-child61 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1366px;
  height: 180px;
}
.group-child61 {
  background-color: var(--color-darkslateblue-100);
  height: 128px;
}
.ita20 {
  color: var(--color-black);
}
.klinikita20 {
  text-decoration: none;
  position: absolute;
  top: 39px;
  left: 34px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-paytone-one);
  display: inline-block;
  width: 278px;
  height: 65px;
  color: inherit;
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 205px;
  height: 79px;
}
.daftar10 {
  position: absolute;
  top: 20px;
  left: 12px;
  display: inline-block;
  width: 182px;
  height: 33px;
}
.beranda18,
.pelayanan19,
.rectangle-parent37 {
  text-decoration: none;
  position: absolute;
  color: inherit;
}
.rectangle-parent37 {
  top: 25px;
  left: 1137px;
  width: 205px;
  height: 79px;
  text-align: center;
}
.beranda18,
.pelayanan19 {
  top: 0;
  left: 0;
}
.pelayanan19 {
  left: 138px;
}
.kontak18,
.tentang-kami18 {
  position: absolute;
  top: 0;
  left: 305px;
}
.kontak18 {
  text-decoration: none;
  left: 510px;
  color: inherit;
}
.material-symbolssearch9 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 621px;
  width: 29px;
  height: 30px;
  overflow: hidden;
}
.beranda-parent15,
.masuk18 {
  position: absolute;
  top: 132px;
  left: 681px;
  width: 650px;
  height: 36px;
}
.masuk18 {
  text-decoration: none;
  top: 42px;
  left: 964px;
  color: inherit;
  text-align: center;
  display: inline-block;
  width: 140px;
  height: 44px;
}
.rectangle-parent36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 180px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.tanya-dokter-child {
  position: absolute;
  top: 180px;
  left: 0;
  background-color: var(--color-lightskyblue-200);
  width: 1366px;
  height: 49px;
}
.beranda19,
.tanya-dokter2 {
  position: absolute;
  top: 187px;
  font-size: var(--font-size-5xl);
  text-align: left;
}
.beranda19 {
  text-decoration: none;
  left: 34px;
  color: inherit;
}
.tanya-dokter2 {
  left: 173px;
  color: var(--color-gray-100);
}
.fluentios-arrow-24-regular-icon {
  position: absolute;
  top: 193px;
  left: 137px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tanya-dokter-item {
  border: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 251px;
  left: 77px;
  width: 1212px;
  height: 70px;
}
.tanya-dokter-child1,
.tanya-dokter-inner {
  position: absolute;
  top: 435px;
  left: 95px;
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 290px;
  height: 317px;
}
.tanya-dokter-child1 {
  left: 538px;
}
.vaadindoctor-icon {
  left: 538px;
  overflow: hidden;
}
.tanya-dokter-child2,
.vaadindoctor-icon,
.vaadindoctor-icon1 {
  position: absolute;
  top: 435px;
  width: 290px;
  height: 317px;
}
.vaadindoctor-icon1 {
  left: 95px;
  overflow: hidden;
}
.tanya-dokter-child2 {
  left: 981px;
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
}
.line-div,
.tanya-dokter-child3 {
  position: absolute;
  top: 434.49px;
  left: 454.46px;
  border-right: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 1px;
  height: 794.02px;
}
.tanya-dokter-child3 {
  top: 428.5px;
  left: 914.5px;
  height: 799px;
}
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 290px;
  height: 117px;
}
.chat {
  position: absolute;
  top: 21px;
  left: 83px;
  display: inline-block;
  width: 124px;
  height: 59px;
}
.rectangle-parent38,
.rectangle-parent39,
.rectangle-parent40 {
  position: absolute;
  top: 1087px;
  left: 95px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 290px;
  height: 117px;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.rectangle-parent39,
.rectangle-parent40 {
  left: 538px;
}
.rectangle-parent40 {
  left: 981px;
}
.dokter-umum,
.dr-sentosa {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.dr-sentosa {
  top: 766px;
  left: 98px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  width: 287px;
  height: 48px;
}
.dokter-umum {
  top: 831px;
  left: 169px;
  text-align: left;
  width: 142px;
  height: 25px;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightskyblue-200);
  width: 244px;
  height: 50px;
}
.solarcase-bold-icon {
  position: absolute;
  top: 13px;
  left: 9px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tahun {
  position: absolute;
  top: 11px;
  left: 33px;
  font-weight: 500;
  display: inline-block;
  width: 178px;
  height: 27px;
}
.div2,
.rectangle-parent41 {
  position: absolute;
  top: 873px;
  left: 118px;
  width: 244px;
  height: 50px;
}
.div2 {
  top: 9px;
  left: 35px;
  font-weight: 500;
  display: inline-block;
  width: 178px;
  height: 27px;
}
.material-symbolsthumb-up-icon {
  position: absolute;
  top: 13px;
  left: 11px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent42 {
  position: absolute;
  top: 940px;
  left: 118px;
  width: 244px;
  height: 50px;
}
.dokter-anak,
.dr-fatimah {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.dr-fatimah {
  top: 766px;
  left: 542px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  width: 287px;
  height: 48px;
}
.dokter-anak {
  top: 831px;
  left: 613px;
  text-align: left;
  width: 142px;
  height: 25px;
}
.rectangle-parent43,
.rectangle-parent44 {
  position: absolute;
  top: 873px;
  left: 562px;
  width: 244px;
  height: 50px;
}
.rectangle-parent44 {
  top: 940px;
}
.dokter-gigi,
.dr-wira {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.dr-wira {
  top: 780px;
  left: 985px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  width: 287px;
  height: 48px;
}
.dokter-gigi {
  top: 845px;
  left: 1056px;
  text-align: left;
  width: 142px;
  height: 25px;
}
.rectangle-parent45,
.rectangle-parent46 {
  position: absolute;
  top: 887px;
  left: 1005px;
  width: 244px;
  height: 50px;
}
.rectangle-parent46 {
  top: 954px;
}
.rp-30000,
.rp-50000,
.rp-65000 {
  position: absolute;
  top: 1014px;
  left: 99px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  display: inline-block;
  width: 282px;
  height: 49px;
}
.rp-30000,
.rp-65000 {
  left: 542px;
}
.rp-30000 {
  left: 985px;
}
.rekomendasi-dokter {
  position: absolute;
  top: 333px;
  left: 421px;
  font-size: var(--font-size-29xl);
  font-weight: 800;
  color: #2866a1;
  text-align: left;
}
.vaadindoctor-icon2 {
  position: absolute;
  top: 435px;
  left: 981px;
  width: 290px;
  height: 317px;
  overflow: hidden;
}
.tanya-dokter1 {
  position: relative;
  background-color: var(--color-lightblue-200);
  width: 100%;
  height: 1279px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-200);
  font-family: var(--font-poppins);
}
